<form action="/" method="POST">
<h2>Hero 1</h2>
<div class="superheroes">
  <h4>Hero's Name: <%= @superheroes.name%></h4><br>
  <h4>Hero's Power: <%= @superheroes.power%> </h4><br>
  <h4>Hero's Biography: <%= @superheroes.biography%> </h4>
</div><br>

<h2>Hero 2</h2>
<div class="superheroes">
  <h4>Hero's Name: <%= @superheroes.name%></h4><br>
  <h4>Hero's Power: <%= @superheroes.power%> </h4><br>
  <h4>Hero's Biography: <%= @superheroes.biography%> </h4>
</div><br>

<h2>Hero 3</h2>
<div class="superheroes">
  <h4>Hero's Name: <%= @superheroes.name%></h4><br>
  <h4>Hero's Power: <%= @superheroes.power%> </h4><br>
  <h4>Hero's Biography: <%= @superheroes.biography%> </h4>
</div><br>

<button type="submit" value="Enter Info">Submit</button>
</form>